################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Auth2Test/bin/Debug/net6.0
/Auth2Test/obj
